//
// %%INTRO%%
//
// Copyright (C) %%COPYRIGHT%%
//
// %%LICENSE%%
//
//----------------------------------------------------------------------
/*!\file    %%FILE%%
 *
 * \author  %%AUTHOR%%
 *
 * \date    %%DATE%%
 *
 */
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// External includes (system with <>, local with "")
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Internal includes with ""
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Debugging
//----------------------------------------------------------------------
#include <cassert>

//----------------------------------------------------------------------
// Namespace declaration
//----------------------------------------------------------------------
%%OPEN_NAMESPACE%%

//----------------------------------------------------------------------
// Forward declarations / typedefs / enums
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Const values
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Implementation
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// t%%NAME%% constructors
//----------------------------------------------------------------------
template <>
t%%NAME%%<>::t%%NAME%%()
  : some_value( Values should be initialized here )
{}

//----------------------------------------------------------------------
// t%%NAME%% destructor
//----------------------------------------------------------------------
template <>
t%%NAME%%<>::~t%%NAME%%()
{}

//----------------------------------------------------------------------
// t%%NAME%% SomeMethod
//----------------------------------------------------------------------
template <>
void t%%NAME%%<>::SomeMethod()
{
  This is an example for a method that might somhow use this->some_value.
  Delete both if you do not use it.
}

//----------------------------------------------------------------------
// End of namespace declaration
//----------------------------------------------------------------------
%%CLOSE_NAMESPACE%%
