//
// %%INTRO%%
//
// Copyright (C) %%COPYRIGHT%%
//
// %%LICENSE%%
//
//----------------------------------------------------------------------
/*!\file    %%FILE%%
 *
 * \author  %%AUTHOR%%
 *
 * \date    %%DATE%%
 *
 */
//----------------------------------------------------------------------
#include "%%HEADER_PATH%%"

//----------------------------------------------------------------------
// External includes (system with <>, local with "")
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Internal includes with ""
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Debugging
//----------------------------------------------------------------------
#include <cassert>

//----------------------------------------------------------------------
// Namespace usage
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Namespace declaration
//----------------------------------------------------------------------
%%OPEN_NAMESPACE%%

//----------------------------------------------------------------------
// Forward declarations / typedefs / enums
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Const values
//----------------------------------------------------------------------
core::tStandardCreateModuleAction<m%%NAME%%> m%%NAME%%::cCREATE_ACTION("%%NAME%%");

//----------------------------------------------------------------------
// Implementation
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// m%%NAME%% constructor
//----------------------------------------------------------------------
m%%NAME%%::m%%NAME%%(core::tFrameworkElement *parent, const util::tString &name)
  : tModule(parent, name),
    some_value(0.0)
{}

//----------------------------------------------------------------------
// m%%NAME%% destructor
//----------------------------------------------------------------------
m%%NAME%%::~m%%NAME%%()
{}

//----------------------------------------------------------------------
// m%%NAME%% Update
//----------------------------------------------------------------------
void m%%NAME%%::Update()
{
  this->some_value = 2 * this->some_value;
}

//----------------------------------------------------------------------
// End of namespace declaration
//----------------------------------------------------------------------
%%CLOSE_NAMESPACE%%
