//
// %%INTRO%%
//
// Copyright (C) %%COPYRIGHT%%
//
// %%LICENSE%%
//
//----------------------------------------------------------------------
/*!\file    %%FILE%%
 *
 * \author  %%AUTHOR%%
 *
 * \date    %%DATE%%
 *
 * \brief Contains m%%NAME%%
 *
 * \b m%%NAME%%
 *
 * %%DESCRIPTION%%
 *
 */
//----------------------------------------------------------------------
#ifndef %%SENTINEL%%
#define %%SENTINEL%%

#include "core/structure/tModule.h"

//----------------------------------------------------------------------
// External includes (system with <>, local with "")
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Internal includes with ""
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Namespace declaration
//----------------------------------------------------------------------
%%OPEN_NAMESPACE%%

//----------------------------------------------------------------------
// Forward declarations / typedefs / enums
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Class declaration
//----------------------------------------------------------------------
//! %%SHORT_DESCRIPTION%%
/*!
 * %%DESCRIPTION%%
 */
class m%%NAME%% : public core::structure::tModule
{
  static core::tStandardCreateModuleAction<m%%NAME%%> cCREATE_ACTION;

//----------------------------------------------------------------------
// Ports (These are the only variables that may be declared public)
//----------------------------------------------------------------------
public:

  tStaticParameter<double> static_parameter_1;   Example for a static parameter. Replace or delete it!
  
  tParameter<double> parameter_1;   Example for a runtime parameter. Replace or delete it!

  tInput<double> input_signal_1;   Example for input ports. Replace or delete them!
  tInput<double> input_signal_2;

  tOutput<double> output_signal_1;   Examples for output ports. Replace or delete them!
  tOutput<double> output_signal_2;

//----------------------------------------------------------------------
// Public methods and typedefs
//----------------------------------------------------------------------
public:

  m%%NAME%%(core::tFrameworkElement *parent, const util::tString &name = "%%NAME%%");

  ~m%%NAME%%();   You need this destructor if you allocated memory on the heap that must be free'd. Delete otherwise!

//----------------------------------------------------------------------
// Private fields and methods
//----------------------------------------------------------------------
private:

  Here is the right place for your variables. Replace this line by your declarations!

  virtual void EvaluateStaticParameters();   Might be needed to process static parameters. Delete otherwise!

  virtual void EvaluateParameters();   Might be needed to react to changes in parameters independent from Update() calls. Delete otherwise!

  virtual void Update();

};

//----------------------------------------------------------------------
// End of namespace declaration
//----------------------------------------------------------------------
%%CLOSE_NAMESPACE%%
%%INCLUDE_HPP%%

#endif
