//
// You received this file as part of Finroc
// A framework for integrated robot control
//
// Copyright (C) AG Robotersysteme TU Kaiserslautern
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
//
//----------------------------------------------------------------------
/*!\file    m<NAME>.h
 *
 * \author  <AUTHOR>
 *
 * \date    <DATE>
 *
 * \brief Contains m<NAME>
 *
 * \b m<NAME>
 *
 */
//----------------------------------------------------------------------
#ifndef <SENTINEL>
#define <SENTINEL>

#include "core/structure/tSenseControlModule.h"

//----------------------------------------------------------------------
// External includes (system with <>, local with "")
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Internal includes with ""
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Debugging
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Namespace declaration
//----------------------------------------------------------------------
namespace finroc
{
namespace <NAMESPACE>
{
//----------------------------------------------------------------------
// Forward declarations / typedefs / enums
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Class declaration
//----------------------------------------------------------------------
//! Short description of m<NAME>
/*! A more detailed description of m<NAME> which
 *  <AUTHOR> has not done yet!
 *
 */
class m<NAME> : public finroc::core::structure::tSenseControlModule
{
public:
//----------------------------------------------------------------------
// Public methods
//----------------------------------------------------------------------
  m<NAME>(finroc::core::tFrameworkElement *parent, const finroc::util::tString &name = "<NAME>");

//----------------------------------------------------------------------
// Public variables (should be only ports)
//----------------------------------------------------------------------
  tCI<double> ci_signal_1;
  tCI<double> ci_signal_2;

  tCO<double> co_signal_3;

  tSI<double> si_signal_4;
  tSI<double> si_signal_5;

  tSO<double> so_signal_6;

protected:
//----------------------------------------------------------------------
// Protected methods
//----------------------------------------------------------------------
  virtual void Control();

  virtual void Sense();

//----------------------------------------------------------------------
// Protected variables
//----------------------------------------------------------------------

private:
//----------------------------------------------------------------------
// Private methods
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Private variables
//----------------------------------------------------------------------


};

//----------------------------------------------------------------------
// End of namespace declaration
//----------------------------------------------------------------------
}
}

#endif
