//
// You received this file as part of Finroc
// A framework for integrated robot control
//
// Copyright (C) AG Robotersysteme TU Kaiserslautern
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
//
//----------------------------------------------------------------------
/*!\file    g<NAME>.h
 *
 * \author  <AUTHOR>
 *
 * \date    <DATE>
 *
 * \brief Contains g<NAME>
 *
 * \b g<NAME>
 *
 */
//----------------------------------------------------------------------
#ifndef <SENTINEL>
#define <SENTINEL>

#include "core/structure/tGroup.h"

//----------------------------------------------------------------------
// External includes (system with <>, local with "")
//----------------------------------------------------------------------
#include "core/finstructable/tFinstructableGroup.h"
#include "rrlib/util/patterns/final_class.h"

//----------------------------------------------------------------------
// Internal includes with ""
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Debugging
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Namespace declaration
//----------------------------------------------------------------------
namespace finroc
{
namespace <NAMESPACE>
{
//----------------------------------------------------------------------
// Forward declarations / typedefs / enums
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Class declaration
//----------------------------------------------------------------------
//! Short description of g<NAME>
/*! A more detailed description of g<NAME> which
 *  <AUTHOR> has not done yet!
 *
 */
class g<NAME> : public finroc::core::structure::tGroup
{
public:
//----------------------------------------------------------------------
// Public methods
//----------------------------------------------------------------------
  g<NAME>(finroc::core::tFrameworkElement *parent, const finroc::util::tString &name = "<NAME>",
          const finroc::util::tString &structure_config_file = __FILE__".xml");

//----------------------------------------------------------------------
// Public variables (should be only ports)
//----------------------------------------------------------------------
  tControllerInput<> ci_signal_1;

protected:
//----------------------------------------------------------------------
// Protected methods
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Protected variables
//----------------------------------------------------------------------

private:
//----------------------------------------------------------------------
// Private methods
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Private variables
//----------------------------------------------------------------------

};

//----------------------------------------------------------------------
// End of namespace declaration
//----------------------------------------------------------------------
}
}

#endif
